.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25vh;

  .correct {
    color: #1ca78c;
  }

  .incorrect {
    color: #f85050;
  }

  .modal-button {
    background-color: #607b96;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-top: 0.7rem;
    color: white;

    &:hover {
      cursor: pointer;
      scale: 1.05;
      transition: cubic-bezier(0.65, 0, 0.6, 1);
    }
  }
}
